@model IEnumerable<Marcos.Prestamos.Models.CliCliente>

@{
    ViewData["Title"] = "Index";
}

<h2>Index</h2>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
                <th>
                    @Html.DisplayNameFor(model => model.ClaveCliente)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.FechaAlta)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.FechaBaja)
                </th>
            <th>
                @Html.DisplayNameFor(model => model.CliCatEstadoFinal)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CliCatEstadoTemporal)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ComCatSucursal)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ComPersona)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.EmpEmpleado)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.ClaveCliente)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.FechaAlta)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.FechaBaja)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CliCatEstadoFinal.Valor)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CliCatEstadoTemporal.Valor)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ComCatSucursal.Valor)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ComPersona.AMaterno)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.EmpEmpleado.ClaveEmpleado)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.ID">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.ID">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.ID">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
